* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

html,
body {
    height: 100%;
    width: 100%;
}

header {
    background-color: #F1F1F1;
    min-height: 50px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

aside {
    background-color: #73B1D6;
    height: 100%;
    position: fixed;
    width: 200px;
}

.content {
    background-color: #FFFFF7;
    height: 100%;
    margin-left: 200px;
}

.wrapper {
    display: inline-block;
    margin-top: 50px;
    width: 100%;
}

footer {
    background-color: #444444;
    clear: both;
    height: 100px;
    width: 100%;
}